/*Variables declaradas*/


/*Fuente*/

$fuente: 'Raleway', sans-serif;




/*Colores de fondo*/

$fondo_principal: #f2f2f2;
$fondo_cabecera: #fdfdfd;
$fondo_imagen: #f4f4f4;
$fondo_div: #ffffff;
$fondo_pie: #e3e3e3;


/*Colores*/

$color_principal: #242922;
$color_titulo: #234f21;
$color_titulo_small: #42ab49;
$color_boton: blueviolet;
$color_letras_boton: #ffffff;

/*Sombras*/

$sombra_ligera: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
$sombra_mediana: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
$sombra: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);



/*Tamaños*/

$link_cabecera: 15px;

$big_size: 2rem;
$medium_size: 1.5rem;
$estandar_size: 1rem;
$small_size: 0.5rem;



/*Imagen de fondo*/

$fondo1300: url(../../fuente/img/fondo1300.jpg);
$fondo1000: url(../../fuente/img/fondo1000.jpg);
$fondo700: url(../../fuente/img/fondo700.jpg);
$fondo550: url(../../fuente/img/fondo550.jpg);
$fondo400: url(../../fuente/img/fondo400.jpg);


/*Margin*/

$small_margin: 2%;
$normal_margin: 4%;


/*Width*/

$ancho_completo: 100%;



